.introduction {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70vh;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 10vh;
    border-bottom: 2px solid var(--outline-variant);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.left {
    width: 50%;
    padding-bottom: 22px;
}

.right {
    display: flex;
    width: 50%;
    height: 100%;
    overflow-x: visible;
    overflow-y: hidden;
}

.pic {
    position: relative;
    width: 100%;
    /* height: 80%; */
    object-fit: cover;
    object-position: 50% 0%;
    overflow-x: visible;
    overflow-y: hidden;
}

.subtitle {
    color: var(--primary);
}

.line {
    width: 50%;
    height: 2px;
    background-color: var(--primary);
}


@media only screen and (max-width: 768px) {
    .introduction {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        height: auto;
        padding-top: 4svh;
        padding-bottom: 4svh;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .line {
        width: 70%;
    }

    .pic {
        width: 50vw;
        height: 50vw;
        background-color: var(--surface-variant);
        border-radius: 999px;
        object-fit: cover;
        object-position: 50% -20%;
    }

    .right {
        width: 50vw;
        height: 50vw;
        margin-bottom: 4dvh;
    }

    .left {
        text-align: center;
        width: 80%;
    }
}