.introduction {
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 20vh;
    border-bottom: 2px solid var(--outline-variant);
    box-sizing: border-box;
}

.left {
    width: 50%;
    padding-bottom: 22px;
}

.right {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 400px;
    overflow-x: visible;
    overflow-y: hidden;
}

.pic {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    overflow-x: visible;
    overflow-y: hidden;
}

.subtitle {
    color: var(--primary);
}

.line {
    width: 50%;
    height: 2px;
    background-color: var(--primary);
}