.btn {
    display: flex;
    padding: 8px 25px;
    min-height: 24px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: fit-content;
    border-radius: 12px;
    background: var(--primary);
    color: var(--on-primary);
}

.btn.tonal {
    background: var(--primary-container);
    color: var(--on-primary-container);
}

.btn.outline {
    background: none;
    border: 1px solid var(--outline);
    color: var(--primary);
}

.btn .title {
    padding: 0px 5px;
}