.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5vh;
    right: 7vw;
    border-radius: 100px;
    height: 56px;
    width: 56px;
    z-index: 100;
    background-color: var(--primary);
    color: var(--on-primary);
}

.fab:hover {
    background-image: linear-gradient(var(--on-secondary-container-state) 0 0);
    cursor: pointer;
}