.row {
    display: flex;
    flex-direction: row;
}

.row.expanded {
    width: 100%;
}

.row.stretched {
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.column.expanded {
    height: 100%;
}

.column.stretched {
    height: 100%;
}

.main-axis-center {
    justify-content: center;
}

.main-axis-space-around {
    justify-content: space-around;
}

.main-axis-space-between {
    justify-content: space-between;
}

.main-axis-space-evenly {
    justify-content: space-evenly;
}

.main-axis-start {
    justify-content: start;
}

.main-axis-end {
    justify-content: end;
}

.cross-axis-center {
    align-items: center;
}

.cross-axis-start {
    align-items: start;
}

.cross-axis-end {
    align-items: end;
}