.navigation {
    position: relative;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: var(--on-background);
}

.navigation .indicator {
    transition: all 0.3s ease;
    width: 4vh;
    height: 4vh;
    border-radius: 20px;
    z-index: 1;
    background-color: var(--on-background);
}

.indicator.active {
    background-color: var(--primary-container);
}

.navigation .link {
    height: 4vh;
    line-height: 4vh;
}

.progress {
    position: absolute;
    height: 95%;
    width: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--on-background);
}

.progress.active {
    background-color: var(--primary-container);
    width: 10px;
    transform-origin: 0% 0%;
    transition: all 0.3s ease
}