.navigation {
    position: relative;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: var(--on-background);
}

.navigation .indicator {
    transition: all 0.3s ease;
    width: 3.7vh;
    height: 3.7vh;
    border-radius: 3.7vh;
    z-index: 1;
    /* background-color: var(--on-background); */
    background-color: var(--outline-variant);

}

.indicator.active {
    /* background-color: var(--primary-container); */
    background-color: var(--primary);

}

.navigation .link {
    height: 3.7vh;
    line-height: 3.7vh;
    width: 100%;
}

.navigation .link.active {
    height: 4vh;
    line-height: 4vh;
    color: var(--primary);
    font-weight: bold;
}

.navigation .link:hover {
    /* color: var(--primary-container); */
    font-weight: bold;
    cursor: pointer;
}

.progress {
    position: absolute;
    height: 95%;
    width: 3%;
    min-width: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--outline-variant);
}

.progress.active {
    /* background-color: var(--primary-container); */
    background-color: var(--primary);
    transform-origin: 0% 0%;
    transition: all 0.2s ease
}