.dark {
  --primary: rgb(171 210 143);
  --surface-tint: rgb(171 210 143);
  --on-primary: rgb(25 55 6);
  --primary-container: rgb(47 79 27);
  --on-primary-container: rgb(199 238 169);
  --secondary: rgb(189 203 175);
  --on-secondary: rgb(40 52 32);
  --secondary-container: rgb(62 74 53);
  --on-secondary-container: rgb(217 231 202);
  --tertiary: rgb(160 207 207);
  --on-tertiary: rgb(0 55 55);
  --tertiary-container: rgb(30 78 78);
  --on-tertiary-container: rgb(187 235 235);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(17 20 14);
  --on-background: rgb(225 228 217);
  --surface: rgb(17 20 14);
  --on-surface: rgb(225 228 217);
  --surface-variant: rgb(67 72 62);
  --on-surface-variant: rgb(196 200 187);
  --outline: rgb(142 146 134);
  --outline-variant: rgb(67 72 62);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(225 228 217);
  --inverse-on-surface: rgb(46 49 42);
  --inverse-primary: rgb(70 103 48);
  --primary-fixed: rgb(199 238 169);
  --on-primary-fixed: rgb(9 33 0);
  --primary-fixed-dim: rgb(171 210 143);
  --on-primary-fixed-variant: rgb(47 79 27);
  --secondary-fixed: rgb(217 231 202);
  --on-secondary-fixed: rgb(20 30 13);
  --secondary-fixed-dim: rgb(189 203 175);
  --on-secondary-fixed-variant: rgb(62 74 53);
  --tertiary-fixed: rgb(187 235 235);
  --on-tertiary-fixed: rgb(0 32 32);
  --tertiary-fixed-dim: rgb(160 207 207);
  --on-tertiary-fixed-variant: rgb(30 78 78);
  --surface-dim: rgb(17 20 14);
  --surface-bright: rgb(55 58 51);
  --surface-container-lowest: rgb(12 15 9);
  --surface-container-low: rgb(25 29 22);
  --surface-container: rgb(29 33 26);
  --surface-container-high: rgb(40 43 36);
  --surface-container-highest: rgb(51 54 47);
  --shadow-25: rgb(255 255 255/25%);
}
