:root {
  /* display - large */
  --display-large-font-family-name: Roboto;
  --display-large-font-family-style: normal;
  --display-large-font-weight: 400;
  --display-large-font-size: 57px;
  --display-large-height: 64px;
  --display-large-tracking: -0.25px;
  /* display - medium */
  --display-medium-font-family-name: Roboto;
  --display-medium-font-family-style: normal;
  --display-medium-font-weight: 400;
  --display-medium-font-size: 45px;
  --display-medium-height: 52px;
  --display-medium-tracking: 0px;
  /* display - small */
  --display-small-font-family-name: Roboto;
  --display-small-font-family-style: normal;
  --display-small-font-weight: 400;
  --display-small-font-size: 36px;
  --display-small-height: 44px;
  --display-small-tracking: 0px;
  /* headline - large */
  --headline-large-font-family-name: Roboto;
  --headline-large-font-family-style: normal;
  --headline-large-font-weight: 400;
  --headline-large-font-size: 32px;
  --headline-large-height: 40px;
  --headline-large-tracking: 0px;
  /* headline - medium */
  --headline-medium-font-family-name: Roboto;
  --headline-medium-font-family-style: normal;
  --headline-medium-font-weight: 400;
  --headline-medium-font-size: 28px;
  --headline-medium-height: 36px;
  --headline-medium-tracking: 0px;
  /* headline - small */
  --headline-small-font-family-name: Roboto;
  --headline-small-font-family-style: normal;
  --headline-small-font-weight: 400;
  --headline-small-font-size: 24px;
  --headline-small-height: 32px;
  --headline-small-tracking: 0px;
  /* body - large */
  --body-large-font-family-name: Roboto;
  --body-large-font-family-style: normal;
  --body-large-font-weight: 400;
  --body-large-font-size: 16px;
  --body-large-height: 24px;
  --body-large-tracking: 0.50px;
  /* body - medium */
  --body-medium-font-family-name: Roboto;
  --body-medium-font-family-style: normal;
  --body-medium-font-weight: 400;
  --body-medium-font-size: 14px;
  --body-medium-height: 20px;
  --body-medium-tracking: 0.25px;
  /* body - small */
  --body-small-font-family-name: Roboto;
  --body-small-font-family-style: normal;
  --body-small-font-weight: 400;
  --body-small-font-size: 12px;
  --body-small-height: 16px;
  --body-small-tracking: 0.40px;
  /* label - large */
  --label-large-font-family-name: Roboto;
  --label-large-font-family-style: 500;
  --label-large-font-weight: 500;
  --label-large-font-size: 14px;
  --label-large-height: 20px;
  --label-large-tracking: 0.10px;
  /* label - medium */
  --label-medium-font-family-name: Roboto;
  --label-medium-font-family-style: 500;
  --label-medium-font-weight: 500;
  --label-medium-font-size: 12px;
  --label-medium-height: 16px;
  --label-medium-tracking: 0.50px;
  /* label - small */
  --label-small-font-family-name: Roboto;
  --label-small-font-family-style: 500;
  --label-small-font-weight: 500;
  --label-small-font-size: 11px;
  --label-small-height: 16px;
  --label-small-tracking: 0.50px;
  /* title - large */
  --title-large-font-family-name: Roboto;
  --title-large-font-family-style: normal;
  --title-large-font-weight: 400;
  --title-large-font-size: 22px;
  --title-large-height: 28px;
  --title-large-tracking: 0px;
  /* title - medium */
  --title-medium-font-family-name: Roboto;
  --title-medium-font-family-style: 500;
  --title-medium-font-weight: 500;
  --title-medium-font-size: 16px;
  --title-medium-height: 24px;
  --title-medium-tracking: 0.15px;
  /* title - small */
  --title-small-font-family-name: Roboto;
  --title-small-font-family-style: 500;
  --title-small-font-weight: 500;
  --title-small-font-size: 14px;
  --title-small-height: 20px;
  --title-small-tracking: 0.10px;
}
